.App {
  width: 35vw;
  margin: 0 auto; 
  min-height: 60vh; 
  padding: 15px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  border-radius: 8px;
}
